.popup__input {
  border: 0; /* Сброс стандартного стиля */
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 10px 0;
  /* Параметры шрифта внутри поля */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
  margin-bottom: 19px;
}

.popup__input::placeholder {
  color: lightgray;
}

/* Акцент про фокусе на поле */
.popup__input:focus {
  border-bottom-color: #000;
  outline: 0;
}
