.popup__container {
  /* Относительное позиционирование для кнопки закрытия */
  position: relative;
  /* Предельные размеры по макету */
  max-width: 430px;
  min-height: 300px;
  box-sizing: border-box;
  /* Оформление */
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  padding: 34px 36px 37px;
}

@media screen and (max-width: 425px) {
  .popup__container {
    padding: 25px 22px 25px;
  }
}
