.card__image {
  width: 100%;
  /* aspect-ratio: 1; Сохраняет "квадратность" картинки даже при другом исходном файле, но автопроверка Практикума не принимает это свойство */
  object-fit: cover;
  object-position: center;
}
